.App {
  text-align: center;
  color: #444;

  background: url("./images/backgroundImg.png");
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vh;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #333;
}

button {
  border: 1px solid #aaa;
  background-color: #eee;
  font-size: 1.1em;
  border-radius: 4px;
}

#header {
  padding: 5px;
  display: flex;

  background: black;
  text-align: center;
  align-items: baseline;
}

#addNoteBtn {
  border: none;
  background: none;
  color: white;
  font-size: 2.5em;
  font-weight: bolder;
}

.addTodo {
  border: none;
  background: none;
  color: white;
  font-size: 2em;
  font-weight: bolder;
  margin-left: 20px;
}

#appTitle {
  color: white;
  font-weight: bold;

  margin: 0 auto;
}

@media screen and (min-width: 460px) {
  body,
  input,
  textarea {
    font-size: 1.1em;
  }
  .App {
    min-height: 100vh !important;
    background: url("./images/backgroundImg.png");
    background-size: cover;
    background-repeat: repeat;
  }
  .content {
    margin: 0 auto;
  }
}
